<div class="container">
    <div class="row">
        <div class="form-group">
            <label>{{lblText}}</label>
            &nbsp;&nbsp;
            <input [(ngModel)]="computerName" type="text" />

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" [disabled]="enableComputerButton()" (click)="onButtonClicked($event)" value="Save"
                class="btn btn-primary" />
        </div>
    </div>
</div>
<hr>
<app-pc-grid [item] = "computers" ></app-pc-grid>