<!-- <div class="container">
    <div class="row">
        <div class="form-group">
            <label>{{lblText}}</label>
            &nbsp;&nbsp;
            <input [(ngModel)]="computerName" type="text" />

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" [disabled]="enableComputerButton()" (click)="onButtonClicked($event)" value="Save"
                class="btn btn-primary" />
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row" *ngIf="computers.length > 0; else noData">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let data of computers">
                {{data}}
            </li>
        </ul>

    </div>


</div>
<ng-template #noData>
    no records yet
</ng-template> -->
<app-pc-creator ></app-pc-creator>