
<div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <!-- list group item-->
        <li *ngFor="let data of pcComponents"  class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{data.componentName}}</h5>
              <p class="font-italic text-muted mb-0 small">
                {{data.description}}
              </p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                 
                <h6 class="font-weight-bold my-2"> Available: {{data.qty}}</h6>
                
              </div>
           
            </div><img src="{{data.image}}"  appSetAltTextForImage  width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
        </li>
      </ul>
    </div>
</div>
